Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [5]:
import pandas as pd
df=pd.DataFrame({"marks":[20,80,40,50,60],"time_spent":[15,40,20,30,30]})

In [6]:
df

   marks  time_spent
0     20          15
1     80          40
2     40          20
3     50          30
4     60          30

In [7]:
df.corr(method='pearson')

               marks  time_spent
marks       1.000000    0.975017
time_spent  0.975017    1.000000

as in exapmle it is positive correlated it means if one will increase other will also increases.

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [8]:
import pandas as pd
df=pd.DataFrame({"job satisfaction":[1,4,5,6,8,10,9,3,2,1,6],"time_spent":[8,6,7,4,6,3,7,9,2,5,7]})

In [9]:
df.corr(method='spearman')

                  job satisfaction  time_spent
job satisfaction          1.000000   -0.170905
time_spent               -0.170905    1.000000

negative correlated if also it is very less so not correlated not having any linear relationship.

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [11]:
import pandas as pd
df=pd.DataFrame({"Bmi_index":[1,4,5,6,8,10,9,3,2,1,6,1,4,5,6,8,10,9,3,2,1,6,
                             1,4,5,6,8,10,9,3,2,1,6,1,4,5,6,8,10,9,3,2,1,6,
                             1,4,5,6,8,10,9,3,2,1,6],"time_excercise":[8,6,7,4,6,3,7,9,2,5,7,
                                                                       8,6,7,4,6,3,7,9,2,5,7,
                                                                      8,6,7,4,6,3,7,9,2,5,7,
                                                                      8,6,7,4,6,3,7,9,2,5,7,
                                                                      8,6,7,4,6,3,7,9,2,5,7]})

In [14]:
df.corr(method='spearman')

                Bmi_index  time_excercise
Bmi_index        1.000000       -0.170905
time_excercise  -0.170905        1.000000

not related as bmi is lee in magnitide

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [17]:
import pandas as pd
df=pd.DataFrame({"physical_hour":[1,4,5,6,8,10,9,3,2,1,6,1,4,5,6,8,10,9,3,2,1,6,
                             1,4,5,6,8,10,9,3,2,1,6,1,4,5,6,8,10,9,3,2,1,6,
                             1,4,5,6,8,10,9,3,2,1,6],"time_telivision":[8,6,7,4,6,3,7,9,2,5,7,
                                                                       8,6,7,4,6,3,7,9,2,5,7,
                                                                      8,6,7,4,6,3,7,9,2,5,7,
                                                                      8,6,7,4,6,3,7,9,2,5,7,
                                                                      8,6,7,4,6,3,7,9,2,5,7]})

In [19]:
df.corr(method='pearson')

                 physical_hour  time_telivision
physical_hour         1.000000        -0.149531
time_telivision      -0.149531         1.000000

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [20]:
import pandas as pd
df=pd.DataFrame({"calls":[20,30,15,16,40,30,15,20,12,15,16,12,8,10,20,15,20,14,14,15,16,17,
                             12,12,13,11,10,10,15,14],"sales":[8,6,7,4,6,3,7,9,2,5,7,
                                                                       8,6,7,4,6,3,7,9,2,5,7,
                                                                      8,6,7,4,6,3,7,9]})

In [22]:
df.corr(method='pearson')

          calls     sales
calls  1.000000 -0.084323
sales -0.084323  1.000000

not so much linear relationship between them